@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400..900&display=swap');

.hero-serif {
  font-family: "Bodoni Moda", "Times New Roman", serif;
  font-optical-sizing: auto;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  background-color: black;
  color: whitesmoke;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#canvas-elem::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(/background-l.png);
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s linear;
}


#section-2 {
  .titles {
    display: flex;
    flex-direction: column;
    padding-left: 17rem;
    margin-block: 10rem;

    .title {
      display: flex;
      gap: 4rem;
      opacity: 0.3;
      padding-block: 2rem;
      transition: all 0.3s linear;
      cursor: pointer;

      h1 {
        font-size: 4.5rem;
        font-weight: 100;
        line-height: 1;
      }

      small {
        margin-top: 0.6rem;
        font-size: 0.5rem;
      }

    }

    .title:hover {
      opacity: 1;
    }



  }
}

main:has(#section-2 .title:hover) #canvas-elem::after {
  opacity: 0;
}

.images {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1; /* same or just above canvas, below sections */

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s linear;
  }

}

main:has(#section-2 .title[img-title="tomorrowland"]:hover) .images #tomorrowland {
  opacity: 1;
  background-color: rgb(4, 7, 24);
}

main:has(#section-2 .title[img-title="navy-pier"]:hover) .images #navy-pier {
  opacity: 1;
  background-color: rgb(4, 7, 24);
}

main:has(#section-2 .title[img-title="msi-chicago"]:hover) .images #msi-chicago {
  opacity: 1;
  background-color: rgb(4, 7, 24);
}

main:has(#section-2 .title[img-title="phone"]:hover) .images #phone {
  opacity: 1;
  background-color: rgb(4, 7, 24);
}

main:has(#section-2 .title[img-title="kikk"]:hover) .images #kikk {
  opacity: 1;
  background-color: rgba(1, 15, 92, 0.679);
}
main:has(#section-2 .title[img-title="kennedy"]:hover) .images #kennedy {
  opacity: 1;
  background-color: rgb(4, 7, 24);
}
main:has(#section-2 .title[img-title="opera"]:hover) .images #opera {
  opacity: 1;
  background-color: rgb(176, 4, 4);
} 