@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400..900&display=swap');
@font-face {
  font-family: "GT Sectra Display";
  src: url("/fonts/GTSectraDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "GT Sectra Display";
  src: url("/fonts/GTSectraDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Heebo";
  src: url("/fonts/Heebo-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Heebo";
  src: url("/fonts/Heebo-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Heebo";
  src: url("/fonts/Heebo-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Heebo";
  src: url("/fonts/Heebo-Thin.woff2") format("woff2");
  font-weight: 100;
  font-display: swap;
}

.hero-serif {
  font-family: "GT Sectra Display", "Times New Roman", serif;
    font-optical-sizing: auto;
}

* {
  box-sizing: border-box;
}


html,
body,
#root {
  width: 100%;
  background-color: black;
  color: whitesmoke;
  font-family: "Heebo", system-ui, sans-serif; 
}